.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header__container {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__container
.header__link {
  font-family: Fantasy, sans-serif;
  font-weight: normal;
}
@media (max-width:768px) {

  .header-container {
    text-align: center;
  }

}
.main__container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.add-task__wrapper {
  display: flex;
  padding-top: 20px;
}
ul {
  margin: 0;
  padding: 0px;
}
li,
h3 {
  list-style: none;
}
input,
button {
  outline: none;
}
.add-task__btn,
.to-do__edit,
.to-do__delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
:root {
  --hover-color: #3a3A3a;
}
.add-task__btn:hover,
.to-do__edit:hover,
.to-do__delete:hover {
  color: var(--hover-color);
}
.to-do__title,
.add-task__item {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
}
.add-task__input,
.to-do__input {
  margin: 0;
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.add-task__input,
.to-do__input:focus {
  color: #333;
}
.to-do__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  width: 466px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do__task > * {
  vertical-align: middle;
}
.to-do__task >
.to-do__completed {
  margin: 0 10px;
}
.to-do__task >
.to-do__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 324px;
}
.to-do__delete
.to-do__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.to-do__delete
.to-do__img:hover {
  transform: rotateZ(0);
}
.to-do__list_completed
.to-do__name {
  text-decoration: line-through;
  color: #888;
}
.to-do__input_invisible {
  display: none;
}
#input-task {
  display: block;
}
.to-do__task_edit
.to-do__input {
  display: inline-block;
  width: 224px;
}
.to-do__task_edit 
.to-do__name_invisible {
  display: none;
}
.to-do__task_remove {
  display: none;
}